*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

overflow:hidden;

font-family:Arial;

background:linear-gradient(135deg,#ffd6e8,#fff6d4);

display:flex;

justify-content:center;

align-items:center;

}

.contenedor{

width:650px;

background:white;

padding:40px;

border-radius:25px;

text-align:center;

box-shadow:0px 10px 30px rgba(0,0,0,.2);

z-index:100;

}

h1{

color:#d63384;

margin-bottom:20px;

font-size:40px;

}

h2{

margin:20px;

color:#9c27b0;

}

p{

font-size:20px;

line-height:35px;

}

button{

margin-top:30px;

padding:15px 35px;

font-size:20px;

border:none;

border-radius:50px;

background:#ff69b4;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.08);

}

#carta{

display:none;

margin-top:25px;

animation:aparece 1s;

}

@keyframes aparece{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* PETALOS */

.petalo{

position:absolute;

font-size:30px;

animation:caer linear infinite;

}

@keyframes caer{

0%{

transform:translateY(-100px) rotate(0deg);

opacity:1;

}

100%{

transform:translateY(120vh) rotate(360deg);

opacity:0;

}

}